.article {
  margin-bottom: 40px;

  @media (min-width: @screen-md) {
    margin-bottom: 10px;
  }

  &__date {
    color: #737A95;
    font-size: 12px;
    position: relative;
    bottom: 9px;
    margin-left: 10px;
  }

  &__title {
    font-size: 20px;
    max-width: 290px;
    font-family: @sfns;
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__link {
    font-size: 12px;

    @media (min-width: @screen-md) {
      float: right;
    }
  }
}