.button {
  color: @blue;
  background: transparent;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  padding: 19px 45px;
  border: 1px solid @blue;
  border-radius: 50px;

  &--bg-color {
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
    padding: 19px 30px;
  }
}