.logo {
  text-transform: uppercase;
  font-size: 20px;

  &__text {
    line-height: 60px;
    vertical-align: top;
    margin-left: 20px;
    font-family: @sfns;
    letter-spacing: 2px;
    display: none;

    @media (min-width: 340px) {
      display: inline-block;
    }
  }
}