.main-nav {
  color: @blue;

  &__item {

    &--delimiter {

      @media (min-width: @screen-md) {
        position: relative;

        &:after {
          position: absolute;
          content: '';
          width: 1px;
          height: 5px;
          background-color: #8A91A9;
          top: 50%;
          left: 0;
          transform: translate(50%, -25%);
        }
      }
    }
  }
}