.page-footer {
  min-height: 40px;
  padding: 20px 0;
  color: @blue;
  font-size: 12px;

  &__item {
    margin: 0 auto;
    text-align: center;
    list-style: none;

    @media (min-width: @screen-md) {
      max-width: 100%;

      &:nth-child(-n+2) {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  &__icon {
    margin-right: 17px;

    &--location {
      transform: translateY(10px)
    }

    &--mail {
      transform: translateY(5px)
    }

    &--phone {
      transform: translateY(10px)
    }
  }

  &__info {
    display: inline-block;
    line-height: 40px;
    color: @blue;

    @media (min-width: @screen-md) {
      line-height: 60px;
    }
  }
}