.promo {
  margin-top: 30px;

  &__inner {
    position: relative;
  }

  &__info {
    position: absolute;
    z-index: 2;
    width: ~"calc(100% - 30px)";
    height: ~"calc(100% - 40px)";
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 70px 27px 0 27px;


    @media (min-width: @screen-lg) {
      width: 50%;
      padding: 100px 27px 0 27px;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 18px;
    max-width: 400px;

    @media (min-width: @screen-lg) {
      max-width: none;
    }
  }

  &__desc {
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 70px;
    display: block;
    max-width: 400px;

    @media (min-width: @screen-lg) {
      max-width: none;
    }
  }
}