@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"),
       url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans_bold.woff") format("woff"),
       url("../fonts/opensans_bold.woff2") format("woff2"),
       url("../fonts/opensans_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SFNS Display';
  src: url("../fonts/sfns-display.woff") format("woff"),
       url("../fonts/sfns-display.woff2") format("woff2"),
       url("../fonts/sfns-display.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}