@screen-xs:                   480px;
@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1200px;
@screen-xl:                   1920px;

@text-color:                  #464049;
@blue:                        #14489F;

@font-family:                 'Open Sans', sans-serif;
@sfns:                        'SFNS Display', sans-serif;

@font-size:                   16px;