<header class="page-header">
<nav class="navbar  navbar-default">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle  collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo  navbar-brand" href="#">
        <img src="img/logo.svg" alt="">
        <strong class="logo__text">Line Service</strong>
      </a>
    </div>

    <div class="collapse  navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="main-nav  nav  navbar-nav  navbar-right">
        <li class="main-nav__item"><a href="#">О компании</a></li>
        <li class="main-nav__item  main-nav__item--delimiter"><a href="#">Услуги</a></li>
        <li class="main-nav__item  main-nav__item--delimiter"><a href="#">Проекты</a></li>
        <li class="main-nav__item  main-nav__item--delimiter"><a href="#">Клиенты</a></li>
        <li class="main-nav__item  main-nav__item--delimiter"><a href="#">Контакты</a></li>
      </ul>
    </div>

  </div>
</nav>
</header>