<footer class="page-footer">
    <div class="container">

      <ul class="row">
        <li class="page-footer__item  col-xs-12  col-sm-12  hidden-md  col-lg-3">
          <p class="page-footer__info">Copyright © Line Service 2016</p>
        </li>
        <li class="page-footer__item  col-xs-12  col-sm-12  col-md-6  col-lg-4">
          <svg class="page-footer__icon  page-footer__icon--location" width="25" height="32"><use xlink:href="#location"></use></svg>
          <p class="page-footer__info">г. Магадан, Набережная р. Магаданки, д. 15</p>
        </li>
        <li class="page-footer__item  col-xs-12  col-sm-12  col-md-3  col-lg-3">
          <svg class="page-footer__icon  page-footer__icon--mail" width="30" height="22"><use xlink:href="#mail"></use></svg>
          <a class="page-footer__info" href="mailto:mail@lineservice.pro">mail@lineservice.pro</a>
        </li>
        <li class="page-footer__item  col-xs-12  col-sm-12  col-md-3  col-lg-2">
          <svg class="page-footer__icon  page-footer__icon--phone" width="21" height="31"><use xlink:href="#phone"></use></svg>
          <a class="page-footer__info" href="tel:+74132655933">+7 (4132) 655-933</a>
        </li>
      </ul>

    </div>
  </footer>